@import '../../styles/variables';

.logout-content {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & > p {
        margin: 0 auto;
        font-size: 18px;
        font-style: italic;
    }
    & > button {
        background-color: white;
        margin: 0 20px 0 auto;
        border: 3px solid #0F238C;
        color: $blue;
        font-size: 18px;
        font-weight: bold;
        width: 76px;
        height: 26px;
    }
}